/* etch-a-sketch 
   max k 2026 */
html {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.container {
    margin: 12px auto;
    width: 720px;
    height: 720px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    background-color: #eee;
}